<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>985288688480-q0tcvob3f5tfh5lttkrcragpo5oe1si0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.985288688480-q0tcvob3f5tfh5lttkrcragpo5oe1si0</string>
	<key>API_KEY</key>
	<string>AIzaSyDBjSQ_5XP-u7KDEVRdZgpJHsGXA6odz_o</string>
	<key>GCM_SENDER_ID</key>
	<string>985288688480</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.futurafood.qbitesLite</string>
	<key>PROJECT_ID</key>
	<string>qbites-d706b</string>
	<key>STORAGE_BUCKET</key>
	<string>qbites-d706b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:985288688480:ios:46d9ba3ea481edaeb61405</string>
	<key>DATABASE_URL</key>
	<string>https://qbites-d706b.firebaseio.com</string>
</dict>
</plist>